<div class="functionality-detail">
  <div class="functionality-info">
  </div>
  <div class="add-functionality">
    <textarea [(ngModel)]="newFunctionalityTitle" placeholder="Wpisz nazwę funkcjonalności"></textarea>
    <button (click)="addFunctionality()">Dodaj funkcjonalność</button>
  </div>
  <h1 class="title">Funkcjonalności:</h1>
  <ul class="functionality-list">
    <li *ngFor="let functionality of functionalities">
      <div>{{ functionality.title }}</div>
      <button class="update-button" (click)="openUpdateDialog(functionality)">Edytuj</button>
      <button class="delete-button" (click)="deleteFunctionality(functionality)">Usuń</button>
      <button class="goToTask-button" mat-button (click)="goToTasks(functionality)">Przejdź do zadań</button>
    </li>
  </ul>
</div>