.functionality-detail {
  padding: 20px;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .functionality-info {
    margin-bottom: 20px;
  }

  .back-button {
    font-size: 1.2rem;
    padding: 8px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    background-color: #007bff;
    color: #fff;

    &:hover {
      background-color: #0056b3;
    }
  }

  .add-functionality {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    textarea {
      flex: 1;
      font-size: 1.2rem;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      min-height: 100px;
    }

    button {
      font-size: 1.2rem;
      padding: 8px 20px;
      margin-left: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.2s ease;
      background-color: #007bff;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .functionality-list {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      border-radius: 4px;
      align-items: center;
      justify-content: space-between;

      div {
        font-size: 1.2rem;
        font-weight: bold;
        word-wrap: break-word;
      }

      button {
        font-size: 1.2rem;
        padding: 8px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease;
        margin-right: 10px;
        margin-top: 10px;
        &.goToTask-button {
          background-color: green;
          color: #fff;

          &:hover {
            background-color: rgb(20, 80, 20);
          }
        }

        &.delete-button {
          background-color: #f44336;
          color: #fff;

          &:hover {
            background-color: #d32f2f;
          }
        }

        &.update-button {
          background-color: #007bff;
          color: #fff;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}
