<div class="functionality-detail">
  <h1 class="title">Functionality</h1>
  <div class="functionality-info">
  </div>
  <button class="back-button" (click)="goBack()">Go Back</button>
  <div class="add-functionality">
    <textarea [(ngModel)]="newFunctionalityTitle" placeholder="Enter task title"></textarea>
    <button (click)="addFunctionality()">Add Functionality</button>
  </div>
  <ul class="functionality-list">
    <li *ngFor="let functionality of functionalities">
      <div>{{ functionality.title }}</div>
      <button (click)="openUpdateDialog(functionality)">Update</button>
      <button (click)="deleteFunctionality(functionality)">Delete</button>
    </li>
  </ul>
</div>
